CompileFlags:
  CompilationDatabase: build/mingw-ninja-release
  Compiler: g++
  Add:
    - -std=c++17
    - -Iinclude
    - -Isrc
    - -IthirdParty/googletest/googletest/include
    - -isystem
    - build/_deps/eigen-src
