---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left

# ManuMesh formatting profile.
LambdaBodyIndentation: Signature
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon

BreakBeforeBraces: Attach

AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 4

AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false

AllowShortLambdasOnASingleLine: None

BreakStringLiterals: false
ReflowComments: false

IndentAccessModifiers: false
AccessModifierOffset: -4
